#table {
  color: white;
}

#profilePicture {
  max-length: 300px;
  max-width: 300px;
}

#boldExample {
  font-size: .9em;
}

#linkExample {
  font-size: .9em;
}

.list img {
  max-height: 300px;
  max-width: 300px;
}

.list ul li {
  font-size: .9em;
}

#clearMarginsPadding {
  max-height: 250px;
  max-width: 250px;
}

#boxModel {
  max-height: 250px;
  max-width: 250px;
}
